.menu {
  > * {
    &::after {
      content: '';
      @apply absolute bottom-[-33px] left-0 block h-[9px] w-0 bg-secondary;
      transition:
        width 0.3s ease,
        height 0.3s ease;
    }
    &:hover {
      &::after {
        @apply w-full;
      }
    }
    &.active {
      @apply text-primary;
      &::after {
        content: '';
        @apply absolute bottom-[-33px] left-0 block h-[9px] w-full bg-secondary;
      }
    }
  }
}
