/* Solution to flickering on safari */
.swiper-slide {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.swiper-classic {
  padding: 0 var(--padding-px) !important;
  .swiper-slide:last-of-type {
    border-right: none;
  }
  @media (min-width: theme('screens.md')) {
    padding: 0 !important;
  }
}
.swiper-classic-next,
.swiper-classic-prev {
  transition: color 0.3s ease-in-out;
}
.swiper-pagination {
  position: relative !important;
  gap: 16px;
  display: flex;
  justify-content: center;
  .swiper-pagination-bullet {
    background-color: theme('colors.gray.lines');
    opacity: 1;
    width: 8px;
    height: 8px;
    margin: 0 !important;
    transition: background-color 0.3s ease-in-out;
  }
  .swiper-pagination-bullet-active {
    background-color: theme('colors.primary.DEFAULT');
  }
}
/* .swiper {
  &--home {
    &-banner {
      .swiper-slide img {
        min-height: 644px;
      }
      .swiper-pagination {
        gap: 24px;
        display: flex;
        justify-content: center;
        bottom: 56px !important;
        &-bullet {
          background-color: $basic-000;
          opacity: 1;
          width: 12px;
          height: 12px;
          margin: 0 !important;
          transition: all 0.3s ease-in-out;
          &-active {
            background-color: $primary;
            width: 16px;
            height: 16px;
          }
        }
        @include breakpoint-down(sm) {
          bottom: 30px !important;
        }
      }
    }
    &-products {
      height: 256px;
      padding: 0 var(--padding-px) !important;
      .swiper-slide {
        max-width: 360px;
        max-height: 240px;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0);
        transition: all 0.3s ease-in-out;
        .picture-container {
          width: 240px;
          bottom: 0;
          right: 0;
        }
        @include breakpoint-down(sm) {
          max-width: 315px;
          max-height: 220px;
          padding: 40px 20px 0;
          .picture-container {
            width: 200px;
          }
        }
        &:hover {
          background-color: $basic-000;
          box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
  &--about {
    &-products {
      // height: 240px;
      padding: 0 var(--padding-px) !important;
      .swiper-slide {
        max-width: 440px;
        max-height: 440px;
        @include breakpoint-down(sm) {
          max-width: 248px;
          max-height: 248px;
        }
      }
    }
  }
} */
