/* Visibility */

@each $screen, $value in $screen-breakpoints {
  // Display from screen breakpoint up
  .display-#{$screen} {
    @include breakpoint-down ($screen) {
      display: none !important;
    }
  }
  // Hide from screen breakpoint up
  .hide-#{$screen} {
    @include breakpoint-up ($screen) {
      display: none !important;
    }
  }
}

/* Scrollbar */

.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }
}

// Border
.rounded {
  border-radius: 20px;
}
