.form {
  input:not([type='radio']):not([type='checkbox']),
  select,
  textarea {
    border: none;
    border-radius: 4px;
    background: $basic-100;
    cursor: pointer;
    height: 58px;
    width: 100%;
    padding: 23px 12px 8px;
    align-self: stretch;
    color: $basic-900;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    transition: all 0.2s;
    + label {
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 0.2s;
    }
    &:not(:placeholder-shown),
    &:focus {
      + label {
        transform: translateY(-22px);
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .terms-link {
    transition: all 0.2s;
    &:hover {
      color: $secondary;
    }
  }
  textarea {
    height: 200px;
    resize: none;
    + label {
      top: 30px;
      transform: translateY(-50%);
    }
    &:not(:placeholder-shown),
    &:focus {
      + label {
        transform: translateY(-22px);
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  .mandatory {
    right: -7px;
  }
  .password-error {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 4px;
    background-color: $error-bg;
  }
  .password-input {
    input {
      padding: 23px 48px 8px;
    }

    .visibility-button {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
    }
  }
  @include breakpoint-down (md) {
    .w-half {
      width: 100%;
    }
  }
  &__select {
    select {
      -webkit-appearance: none;
    }
    .icon-carret_down_12 {
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.enquiry__info {
  padding: 0 30px;
  @include breakpoint-down (md) {
    padding: 0;
    margin-top: 80px;
    .mt-12 {
      margin-top: 24px;
    }
    .gap-12 {
      gap: 24px;
    }
  }
  span {
    left: 0;
    top: -2px;
    font-size: 24px;
  }
}

.profile {
  &__menu {
    a {
      font-family: 'TT-Commons-500';
      padding-bottom: 4px;
    }
    .active {
      position: relative;
      // border-bottom: 3px solid $primary;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary;
      }
    }
    @include breakpoint-up (md) {
      padding: 0 30px 16px 0;
    }
  }
}
.table {
  border-spacing: 0px;
  thead {
    height: 48px;
    tr {
      th {
        font-family: 'TT-Commons-700';
        font-size: 12px;
        line-height: 16px;
        text-align: start;
        padding: 0 10px;
        color: $secondary-200;
        background-color: $basic-100;
        transition: all 0.2s;
        &.hover:hover {
          background-color: $basic-200;
        }
        .icon-chevron-up,
        .icon-chevron-down {
          color: $secondary-200;
          transition: all 0.2s;
          &:hover {
            color: $primary;
          }
        }
        &:nth-of-type(1) {
          width: 64px;
          @include breakpoint-up (sm) {
            width: 100px;
          }
          @include breakpoint-up (md) {
            width: 161px;
          }
        }
        // &:nth-of-type(2) {
          // width: 82px;
        // }
        &:nth-of-type(3) {
          text-align: end;
        }
        &:nth-of-type(4) {
          @include breakpoint-up (md) {
            width: 82px;
          }
          width: 44px;
        }
      }
    }
  }
  tbody {
    tr {
      height: 64px;
      td {
        font-size: 16px;
        line-height: 20px;
        padding: 0 10px;
        color: $basic-900;
        background-color: transparent;
        transition: all 0.2s;
        border-bottom: 1px solid $basic-100;
        &:nth-of-type(3) {
          text-align: end;
        }
        .text-icon {
          color: $secondary;
          padding: 6px;
          transition: all 0.2s;
        }
      }
      &:hover {
        cursor: pointer;
        & td {
          background-color: $basic-100;
        }
        .text-icon {
          color: $primary;
        }
      }
    }
  }
  &--cart {
    thead {
      tr {
        th {
          &:nth-of-type(1) {
            width: 96px;
          }
          // &:nth-of-type(2) {
            // width: 82px;
          // }
          &:nth-of-type(3) {
            text-align: end;
          }
          &:nth-of-type(4) {
            width: 115px;
          }
          &:nth-of-type(5) {
            width: 128px;
            text-align: end;
          }
          &:nth-of-type(6) {
            width: 64px;
          }
        }
      }
    }
    tbody {
      tr {
        height: 104px;
        td {
          background-color: transparent;
          &:nth-of-type(1) {
            padding: 0;
          }
          &:nth-of-type(3) {
            text-align: end;
          }
          &:nth-of-type(5) {
            text-align: end;
          }
          button {
            color: $secondary;
            padding: 6px;
            transition: all 0.2s;
            &:hover {
              color: $primary;
            }
          }
        }
        &:hover td {
          background-color: transparent;
        }
      }
    }
    .picture-container {
      width: 100%;
      padding: 4px 0;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    input[type=number] {
      padding: 8px 12px !important;
      width: 48px !important;
      height: 32px !important;
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      cursor: auto !important;
    }
  }
}
.cart {
  // .form {
  //   input {
  //     background-color: transparent !important;
  //   }
  // }
  .icon-Close_circle {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $secondary;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $primary;
    }
  }
  &__price {
    border-top: 2px solid $secondary;
  }
}
.checkout {
  &__side {
    a {
      color: $primary;
      transition: all 0.2s;
      &:hover {
        color: $secondary;
      }
    }
    &-final-price {
      border-top: 2px solid $secondary;
    }
    @include breakpoint-down (lg) {
      margin-top: 80px;
    }
  }
  &__reg {
    a {
      font-family: 'TT-Commons-400' !important;
    }
  }
  &__step {
    &.active {
      .checkout__step-box {
        background-color: $primary;
        color: $basic-000;
      }
    }
    &.done {
      .checkout__step-box {
        background-color: $secondary;
        color: $primary;
      }
      a {
        color: $primary;
        transition: all 0.2s;
        &:hover {
          color: $secondary;
        }
      }
    }
    &-box {
      width: 32px;
      height: 32px;
    }
  }
  // &__step3-before {
  //   margin-top: -8px;
  // }
  .col-50.secondary-200 {
    padding-top: 1px;
  }
  // &__1 {
  //   font-family: 'TT-Commons-400' !important;
  // }
}
