// @import "icon-variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fvpe4j');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fvpe4j#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fvpe4j') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fvpe4j') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fvpe4j##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Log_In {
  &:before {
    content: $icon-Log_In;
  }
}
.icon-Menu {
  &:before {
    content: $icon-Menu;
  }
}
.icon-carret_down_12 {
  &:before {
    content: $icon-carret_down_12;
  }
}
.icon-carret_down_24 {
  &:before {
    content: $icon-carret_down_24;
  }
}
.icon-alert_circle {
  &:before {
    content: $icon-alert_circle;
  }
}
.icon-alert_rectangle {
  &:before {
    content: $icon-alert_rectangle;
  }
}
.icon-android-smartphone {
  &:before {
    content: $icon-android-smartphone;
  }
}
.icon-android-smartphone_active {
  &:before {
    content: $icon-android-smartphone_active;
  }
}
.icon-android-smartphone_check {
  &:before {
    content: $icon-android-smartphone_check;
  }
}
.icon-android-smartphone_delete {
  &:before {
    content: $icon-android-smartphone_delete;
  }
}
.icon-android-smartphone_down {
  &:before {
    content: $icon-android-smartphone_down;
  }
}
.icon-android-smartphone_minus {
  &:before {
    content: $icon-android-smartphone_minus;
  }
}
.icon-android-smartphone_plus {
  &:before {
    content: $icon-android-smartphone_plus;
  }
}
.icon-android-smartphone_up {
  &:before {
    content: $icon-android-smartphone_up;
  }
}
.icon-Arrow_Down_circle {
  &:before {
    content: $icon-Arrow_Down_circle;
  }
}
.icon-Arrow_Down_rectangle {
  &:before {
    content: $icon-Arrow_Down_rectangle;
  }
}
.icon-Arrow_Left {
  &:before {
    content: $icon-Arrow_Left;
  }
}
.icon-Arrow_Left_circle {
  &:before {
    content: $icon-Arrow_Left_circle;
  }
}
.icon-Arrow_Left_rectangle {
  &:before {
    content: $icon-Arrow_Left_rectangle;
  }
}
.icon-Arrow_Right {
  &:before {
    content: $icon-Arrow_Right;
  }
}
.icon-Arrow_Right_circle {
  &:before {
    content: $icon-Arrow_Right_circle;
  }
}
.icon-Arrow_Right_rectangle {
  &:before {
    content: $icon-Arrow_Right_rectangle;
  }
}
.icon-Arrow_Up_circle {
  &:before {
    content: $icon-Arrow_Up_circle;
  }
}
.icon-Arrow_Up_rectangle {
  &:before {
    content: $icon-Arrow_Up_rectangle;
  }
}
.icon-Bag {
  &:before {
    content: $icon-Bag;
  }
}
.icon-Bag_check {
  &:before {
    content: $icon-Bag_check;
  }
}
.icon-Bag_delete {
  &:before {
    content: $icon-Bag_delete;
  }
}
.icon-Bag_minus {
  &:before {
    content: $icon-Bag_minus;
  }
}
.icon-Bag_new {
  &:before {
    content: $icon-Bag_new;
  }
}
.icon-Bag_plus {
  &:before {
    content: $icon-Bag_plus;
  }
}
.icon-Bag2 {
  &:before {
    content: $icon-Bag2;
  }
}
.icon-Bag2_check {
  &:before {
    content: $icon-Bag2_check;
  }
}
.icon-Bag2_delete {
  &:before {
    content: $icon-Bag2_delete;
  }
}
.icon-Bag2_minus {
  &:before {
    content: $icon-Bag2_minus;
  }
}
.icon-Bag2_new {
  &:before {
    content: $icon-Bag2_new;
  }
}
.icon-Bag2_plus {
  &:before {
    content: $icon-Bag2_plus;
  }
}
.icon-Bar-chart {
  &:before {
    content: $icon-Bar-chart;
  }
}
.icon-Bar-chart_down {
  &:before {
    content: $icon-Bar-chart_down;
  }
}
.icon-Bar-chart_up {
  &:before {
    content: $icon-Bar-chart_up;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-bell-off {
  &:before {
    content: $icon-bell-off;
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark;
  }
}
.icon-Calendar {
  &:before {
    content: $icon-Calendar;
  }
}
.icon-Calendar_active {
  &:before {
    content: $icon-Calendar_active;
  }
}
.icon-Calendar_check {
  &:before {
    content: $icon-Calendar_check;
  }
}
.icon-Calendar_minus {
  &:before {
    content: $icon-Calendar_minus;
  }
}
.icon-Calendar_plus {
  &:before {
    content: $icon-Calendar_plus;
  }
}
.icon-Camera {
  &:before {
    content: $icon-Camera;
  }
}
.icon-Camera_off {
  &:before {
    content: $icon-Camera_off;
  }
}
.icon-Category {
  &:before {
    content: $icon-Category;
  }
}
.icon-Check {
  &:before {
    content: $icon-Check;
  }
}
.icon-Check_circle {
  &:before {
    content: $icon-Check_circle;
  }
}
.icon-Check_rectangle {
  &:before {
    content: $icon-Check_rectangle;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-circle {
  &:before {
    content: $icon-circle;
  }
}
.icon-clock_circle {
  &:before {
    content: $icon-clock_circle;
  }
}
.icon-clock_rectangle {
  &:before {
    content: $icon-clock_rectangle;
  }
}
.icon-Close {
  &:before {
    content: $icon-Close;
  }
}
.icon-Close_circle {
  &:before {
    content: $icon-Close_circle;
  }
}
.icon-Close_rectangle {
  &:before {
    content: $icon-Close_rectangle;
  }
}
.icon-compass {
  &:before {
    content: $icon-compass;
  }
}
.icon-Copy {
  &:before {
    content: $icon-Copy;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-Edit {
  &:before {
    content: $icon-Edit;
  }
}
.icon-Edit_circle {
  &:before {
    content: $icon-Edit_circle;
  }
}
.icon-Edit_rectangle {
  &:before {
    content: $icon-Edit_rectangle;
  }
}
.icon-External-link {
  &:before {
    content: $icon-External-link;
  }
}
.icon-Eye {
  &:before {
    content: $icon-Eye;
  }
}
.icon-Eye_off {
  &:before {
    content: $icon-Eye_off;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-file-text_clean {
  &:before {
    content: $icon-file-text_clean;
  }
}
.icon-file-text_delete {
  &:before {
    content: $icon-file-text_delete;
  }
}
.icon-file-text_down {
  &:before {
    content: $icon-file-text_down;
  }
}
.icon-file-text_minus {
  &:before {
    content: $icon-file-text_minus;
  }
}
.icon-file-text_plus {
  &:before {
    content: $icon-file-text_plus;
  }
}
.icon-file-text_up {
  &:before {
    content: $icon-file-text_up;
  }
}
.icon-Filter {
  &:before {
    content: $icon-Filter;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-folder_check {
  &:before {
    content: $icon-folder_check;
  }
}
.icon-folder_delete {
  &:before {
    content: $icon-folder_delete;
  }
}
.icon-folder_down {
  &:before {
    content: $icon-folder_down;
  }
}
.icon-folder_minus {
  &:before {
    content: $icon-folder_minus;
  }
}
.icon-folder_plus {
  &:before {
    content: $icon-folder_plus;
  }
}
.icon-folder_right {
  &:before {
    content: $icon-folder_right;
  }
}
.icon-folder_up {
  &:before {
    content: $icon-folder_up;
  }
}
.icon-Globe-1 {
  &:before {
    content: $icon-Globe-1;
  }
}
.icon-Globe-2 {
  &:before {
    content: $icon-Globe-2;
  }
}
.icon-Heart {
  &:before {
    content: $icon-Heart;
  }
}
.icon-home_1 {
  &:before {
    content: $icon-home_1;
  }
}
.icon-home_2 {
  &:before {
    content: $icon-home_2;
  }
}
.icon-home_3 {
  &:before {
    content: $icon-home_3;
  }
}
.icon-home_4 {
  &:before {
    content: $icon-home_4;
  }
}
.icon-home_5 {
  &:before {
    content: $icon-home_5;
  }
}
.icon-Image {
  &:before {
    content: $icon-Image;
  }
}
.icon-info_circle {
  &:before {
    content: $icon-info_circle;
  }
}
.icon-info_rectangle {
  &:before {
    content: $icon-info_rectangle;
  }
}
.icon-ios-smartphone {
  &:before {
    content: $icon-ios-smartphone;
  }
}
.icon-ios-smartphone_active {
  &:before {
    content: $icon-ios-smartphone_active;
  }
}
.icon-ios-smartphone_check {
  &:before {
    content: $icon-ios-smartphone_check;
  }
}
.icon-ios-smartphone_delete {
  &:before {
    content: $icon-ios-smartphone_delete;
  }
}
.icon-ios-smartphone_down {
  &:before {
    content: $icon-ios-smartphone_down;
  }
}
.icon-ios-smartphone_minus {
  &:before {
    content: $icon-ios-smartphone_minus;
  }
}
.icon-ios-smartphone_plus {
  &:before {
    content: $icon-ios-smartphone_plus;
  }
}
.icon-ios-smartphone_up {
  &:before {
    content: $icon-ios-smartphone_up;
  }
}
.icon-Loader-1 {
  &:before {
    content: $icon-Loader-1;
  }
}
.icon-Loader-2 {
  &:before {
    content: $icon-Loader-2;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-lock_circle {
  &:before {
    content: $icon-lock_circle;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-mail_check {
  &:before {
    content: $icon-mail_check;
  }
}
.icon-mail_new {
  &:before {
    content: $icon-mail_new;
  }
}
.icon-maximize {
  &:before {
    content: $icon-maximize;
  }
}
.icon-Message-1 {
  &:before {
    content: $icon-Message-1;
  }
}
.icon-Message-2 {
  &:before {
    content: $icon-Message-2;
  }
}
.icon-Message_check {
  &:before {
    content: $icon-Message_check;
  }
}
.icon-Message_delete {
  &:before {
    content: $icon-Message_delete;
  }
}
.icon-Message_new {
  &:before {
    content: $icon-Message_new;
  }
}
.icon-Message_Send {
  &:before {
    content: $icon-Message_Send;
  }
}
.icon-Message_write {
  &:before {
    content: $icon-Message_write;
  }
}
.icon-Mic-off {
  &:before {
    content: $icon-Mic-off;
  }
}
.icon-Mic {
  &:before {
    content: $icon-Mic;
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize;
  }
}
.icon-Minus {
  &:before {
    content: $icon-Minus;
  }
}
.icon-Minus_circle {
  &:before {
    content: $icon-Minus_circle;
  }
}
.icon-Minus_rectangle {
  &:before {
    content: $icon-Minus_rectangle;
  }
}
.icon-More-horizonta_circle {
  &:before {
    content: $icon-More-horizonta_circle;
  }
}
.icon-More-horizontal {
  &:before {
    content: $icon-More-horizontal;
  }
}
.icon-More-horizontal_rectangle {
  &:before {
    content: $icon-More-horizontal_rectangle;
  }
}
.icon-More-vertical {
  &:before {
    content: $icon-More-vertical;
  }
}
.icon-More-vertical_circle {
  &:before {
    content: $icon-More-vertical_circle;
  }
}
.icon-More-vertical_rectangle {
  &:before {
    content: $icon-More-vertical_rectangle;
  }
}
.icon-Navigation-1 {
  &:before {
    content: $icon-Navigation-1;
  }
}
.icon-Navigation-2 {
  &:before {
    content: $icon-Navigation-2;
  }
}
.icon-Navigation_circle {
  &:before {
    content: $icon-Navigation_circle;
  }
}
.icon-Navigation_rectangle {
  &:before {
    content: $icon-Navigation_rectangle;
  }
}
.icon-paperclip {
  &:before {
    content: $icon-paperclip;
  }
}
.icon-Pause_circle {
  &:before {
    content: $icon-Pause_circle;
  }
}
.icon-Pause_rectangle {
  &:before {
    content: $icon-Pause_rectangle;
  }
}
.icon-Pay {
  &:before {
    content: $icon-Pay;
  }
}
.icon-Percent {
  &:before {
    content: $icon-Percent;
  }
}
.icon-Percent_circle {
  &:before {
    content: $icon-Percent_circle;
  }
}
.icon-Percent_polygon {
  &:before {
    content: $icon-Percent_polygon;
  }
}
.icon-Percent_rectangle {
  &:before {
    content: $icon-Percent_rectangle;
  }
}
.icon-Phone {
  &:before {
    content: $icon-Phone;
  }
}
.icon-Phone_call {
  &:before {
    content: $icon-Phone_call;
  }
}
.icon-Phone_incoming {
  &:before {
    content: $icon-Phone_incoming;
  }
}
.icon-Phone_missed {
  &:before {
    content: $icon-Phone_missed;
  }
}
.icon-Phone_off {
  &:before {
    content: $icon-Phone_off;
  }
}
.icon-Phone_outgoing {
  &:before {
    content: $icon-Phone_outgoing;
  }
}
.icon-Pie-chart_1 {
  &:before {
    content: $icon-Pie-chart_1;
  }
}
.icon-Pie-chart_2 {
  &:before {
    content: $icon-Pie-chart_2;
  }
}
.icon-Pie-chart_3 {
  &:before {
    content: $icon-Pie-chart_3;
  }
}
.icon-Play_circle {
  &:before {
    content: $icon-Play_circle;
  }
}
.icon-Play_rectangle {
  &:before {
    content: $icon-Play_rectangle;
  }
}
.icon-Plus {
  &:before {
    content: $icon-Plus;
  }
}
.icon-Plus_circle {
  &:before {
    content: $icon-Plus_circle;
  }
}
.icon-Plus_rectangle {
  &:before {
    content: $icon-Plus_rectangle;
  }
}
.icon-Scan {
  &:before {
    content: $icon-Scan;
  }
}
.icon-Search {
  &:before {
    content: $icon-Search;
  }
}
.icon-Send {
  &:before {
    content: $icon-Send;
  }
}
.icon-Setting {
  &:before {
    content: $icon-Setting;
  }
}
.icon-Share {
  &:before {
    content: $icon-Share;
  }
}
.icon-Shield {
  &:before {
    content: $icon-Shield;
  }
}
.icon-Shield_done {
  &:before {
    content: $icon-Shield_done;
  }
}
.icon-Shield_fail {
  &:before {
    content: $icon-Shield_fail;
  }
}
.icon-Shield_new {
  &:before {
    content: $icon-Shield_new;
  }
}
.icon-Sliders_horizontal {
  &:before {
    content: $icon-Sliders_horizontal;
  }
}
.icon-Sliders_vertical {
  &:before {
    content: $icon-Sliders_vertical;
  }
}
.icon-Star {
  &:before {
    content: $icon-Star;
  }
}
.icon-Star_circle {
  &:before {
    content: $icon-Star_circle;
  }
}
.icon-Star_rectangle {
  &:before {
    content: $icon-Star_rectangle;
  }
}
.icon-Trash_1 {
  &:before {
    content: $icon-Trash_1;
  }
}
.icon-Trash_2 {
  &:before {
    content: $icon-Trash_2;
  }
}
.icon-Trash_full {
  &:before {
    content: $icon-Trash_full;
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock;
  }
}
.icon-unlock_circle {
  &:before {
    content: $icon-unlock_circle;
  }
}
.icon-user_1 {
  &:before {
    content: $icon-user_1;
  }
}
.icon-user_2 {
  &:before {
    content: $icon-user_2;
  }
}
.icon-user_3 {
  &:before {
    content: $icon-user_3;
  }
}
.icon-user_circle_1 {
  &:before {
    content: $icon-user_circle_1;
  }
}
.icon-User_rectangle_1 {
  &:before {
    content: $icon-User_rectangle_1;
  }
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-video_off {
  &:before {
    content: $icon-video_off;
  }
}
.icon-Volume_high {
  &:before {
    content: $icon-Volume_high;
  }
}
.icon-Volume_medium {
  &:before {
    content: $icon-Volume_medium;
  }
}
.icon-Volume_mute {
  &:before {
    content: $icon-Volume_mute;
  }
}
.icon-Volume_quiet {
  &:before {
    content: $icon-Volume_quiet;
  }
}
.icon-Wallet {
  &:before {
    content: $icon-Wallet;
  }
}
.icon-zoom-in {
  &:before {
    content: $icon-zoom-in;
  }
}
.icon-zoom-out {
  &:before {
    content: $icon-zoom-out;
  }
}

