$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts" !default;

$icon-Log_In: "\e9c1";
$icon-Menu: "\e9c0";
$icon-carret_down_12: "\e900";
$icon-carret_down_24: "\e901";
$icon-alert_circle: "\e902";
$icon-alert_rectangle: "\e903";
$icon-android-smartphone: "\e904";
$icon-android-smartphone_active: "\e905";
$icon-android-smartphone_check: "\e906";
$icon-android-smartphone_delete: "\e907";
$icon-android-smartphone_down: "\e908";
$icon-android-smartphone_minus: "\e909";
$icon-android-smartphone_plus: "\e90a";
$icon-android-smartphone_up: "\e90b";
$icon-Arrow_Down_circle: "\e90c";
$icon-Arrow_Down_rectangle: "\e90d";
$icon-Arrow_Left: "\e90e";
$icon-Arrow_Left_circle: "\e90f";
$icon-Arrow_Left_rectangle: "\e910";
$icon-Arrow_Right: "\e911";
$icon-Arrow_Right_circle: "\e912";
$icon-Arrow_Right_rectangle: "\e913";
$icon-Arrow_Up_circle: "\e914";
$icon-Arrow_Up_rectangle: "\e915";
$icon-Bag: "\e916";
$icon-Bag_check: "\e917";
$icon-Bag_delete: "\e918";
$icon-Bag_minus: "\e919";
$icon-Bag_new: "\e91a";
$icon-Bag_plus: "\e91b";
$icon-Bag2: "\e91c";
$icon-Bag2_check: "\e91d";
$icon-Bag2_delete: "\e91e";
$icon-Bag2_minus: "\e91f";
$icon-Bag2_new: "\e920";
$icon-Bag2_plus: "\e921";
$icon-Bar-chart: "\e922";
$icon-Bar-chart_down: "\e923";
$icon-Bar-chart_up: "\e924";
$icon-bell: "\e925";
$icon-bell-off: "\e926";
$icon-bookmark: "\e927";
$icon-Calendar: "\e928";
$icon-Calendar_active: "\e929";
$icon-Calendar_check: "\e92a";
$icon-Calendar_minus: "\e92b";
$icon-Calendar_plus: "\e92c";
$icon-Camera: "\e92d";
$icon-Camera_off: "\e92e";
$icon-Category: "\e92f";
$icon-Check: "\e930";
$icon-Check_circle: "\e931";
$icon-Check_rectangle: "\e932";
$icon-chevron-down: "\e933";
$icon-chevron-left: "\e934";
$icon-chevron-right: "\e935";
$icon-chevron-up: "\e936";
$icon-circle: "\e937";
$icon-clock_circle: "\e938";
$icon-clock_rectangle: "\e939";
$icon-Close: "\e93a";
$icon-Close_circle: "\e93b";
$icon-Close_rectangle: "\e93c";
$icon-compass: "\e93d";
$icon-Copy: "\e93e";
$icon-delete: "\e93f";
$icon-Edit: "\e940";
$icon-Edit_circle: "\e941";
$icon-Edit_rectangle: "\e942";
$icon-External-link: "\e943";
$icon-Eye: "\e944";
$icon-Eye_off: "\e945";
$icon-file-text: "\e946";
$icon-file-text_clean: "\e947";
$icon-file-text_delete: "\e948";
$icon-file-text_down: "\e949";
$icon-file-text_minus: "\e94a";
$icon-file-text_plus: "\e94b";
$icon-file-text_up: "\e94c";
$icon-Filter: "\e94d";
$icon-folder: "\e94e";
$icon-folder_check: "\e94f";
$icon-folder_delete: "\e950";
$icon-folder_down: "\e951";
$icon-folder_minus: "\e952";
$icon-folder_plus: "\e953";
$icon-folder_right: "\e954";
$icon-folder_up: "\e955";
$icon-Globe-1: "\e956";
$icon-Globe-2: "\e957";
$icon-Heart: "\e958";
$icon-home_1: "\e959";
$icon-home_2: "\e95a";
$icon-home_3: "\e95b";
$icon-home_4: "\e95c";
$icon-home_5: "\e95d";
$icon-Image: "\e95e";
$icon-info_circle: "\e95f";
$icon-info_rectangle: "\e960";
$icon-ios-smartphone: "\e961";
$icon-ios-smartphone_active: "\e962";
$icon-ios-smartphone_check: "\e963";
$icon-ios-smartphone_delete: "\e964";
$icon-ios-smartphone_down: "\e965";
$icon-ios-smartphone_minus: "\e966";
$icon-ios-smartphone_plus: "\e967";
$icon-ios-smartphone_up: "\e968";
$icon-Loader-1: "\e969";
$icon-Loader-2: "\e96a";
$icon-location: "\e96b";
$icon-lock: "\e96c";
$icon-lock_circle: "\e96d";
$icon-mail: "\e96e";
$icon-mail_check: "\e96f";
$icon-mail_new: "\e970";
$icon-maximize: "\e971";
$icon-Message-1: "\e972";
$icon-Message-2: "\e973";
$icon-Message_check: "\e974";
$icon-Message_delete: "\e975";
$icon-Message_new: "\e976";
$icon-Message_Send: "\e977";
$icon-Message_write: "\e978";
$icon-Mic-off: "\e979";
$icon-Mic: "\e97a";
$icon-minimize: "\e97b";
$icon-Minus: "\e97c";
$icon-Minus_circle: "\e97d";
$icon-Minus_rectangle: "\e97e";
$icon-More-horizonta_circle: "\e97f";
$icon-More-horizontal: "\e980";
$icon-More-horizontal_rectangle: "\e981";
$icon-More-vertical: "\e982";
$icon-More-vertical_circle: "\e983";
$icon-More-vertical_rectangle: "\e984";
$icon-Navigation-1: "\e985";
$icon-Navigation-2: "\e986";
$icon-Navigation_circle: "\e987";
$icon-Navigation_rectangle: "\e988";
$icon-paperclip: "\e989";
$icon-Pause_circle: "\e98a";
$icon-Pause_rectangle: "\e98b";
$icon-Pay: "\e98c";
$icon-Percent: "\e98d";
$icon-Percent_circle: "\e98e";
$icon-Percent_polygon: "\e98f";
$icon-Percent_rectangle: "\e990";
$icon-Phone: "\e991";
$icon-Phone_call: "\e992";
$icon-Phone_incoming: "\e993";
$icon-Phone_missed: "\e994";
$icon-Phone_off: "\e995";
$icon-Phone_outgoing: "\e996";
$icon-Pie-chart_1: "\e997";
$icon-Pie-chart_2: "\e998";
$icon-Pie-chart_3: "\e999";
$icon-Play_circle: "\e99a";
$icon-Play_rectangle: "\e99b";
$icon-Plus: "\e99c";
$icon-Plus_circle: "\e99d";
$icon-Plus_rectangle: "\e99e";
$icon-Scan: "\e99f";
$icon-Search: "\e9a0";
$icon-Send: "\e9a1";
$icon-Setting: "\e9a2";
$icon-Share: "\e9a3";
$icon-Shield: "\e9a4";
$icon-Shield_done: "\e9a5";
$icon-Shield_fail: "\e9a6";
$icon-Shield_new: "\e9a7";
$icon-Sliders_horizontal: "\e9a8";
$icon-Sliders_vertical: "\e9a9";
$icon-Star: "\e9aa";
$icon-Star_circle: "\e9ab";
$icon-Star_rectangle: "\e9ac";
$icon-Trash_1: "\e9ad";
$icon-Trash_2: "\e9ae";
$icon-Trash_full: "\e9af";
$icon-unlock: "\e9b0";
$icon-unlock_circle: "\e9b1";
$icon-user_1: "\e9b2";
$icon-user_2: "\e9b3";
$icon-user_3: "\e9b4";
$icon-user_circle_1: "\e9b5";
$icon-User_rectangle_1: "\e9b6";
$icon-video: "\e9b7";
$icon-video_off: "\e9b8";
$icon-Volume_high: "\e9b9";
$icon-Volume_medium: "\e9ba";
$icon-Volume_mute: "\e9bb";
$icon-Volume_quiet: "\e9bc";
$icon-Wallet: "\e9bd";
$icon-zoom-in: "\e9be";
$icon-zoom-out: "\e9bf";

