.footer {
  background-color: var(--header-background);
  padding: 80px 0 30px;
  &__top-logo .picture-container {
    width: 110px;
    height: auto;
  }
  a {
    color: $basic-000;
    &:hover {
      color: inherit;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 20px;
  }
  @include breakpoint-down (md) {
    .footer__top {
      margin-bottom: 48px;
      gap: 48px;
      align-items: center;
      > div {
        align-items: center;
      }
      &-logo {
        .picture-container {
          margin: 0 auto;
        }
        > p {
          text-align: center;
        }
      }
    }
    .footer__bottom {
      gap: 48px;
      .primary {
        gap: 16px;
      }
    }
  }
}
