.header {
  background-color: var(--header-background);
  min-height: var(--header-height);
  max-height: var(--header-height);
  position: fixed;
  &__logo-wrapper {
    width: 160px;
    @include breakpoint-down(lg) {
      width: 80px;
    }
  }
}
