.checkbox-holder {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;

  .checkbox-input {
    position: relative;
    flex: 0 0 20px;
    input {
      position: absolute;
      display: block;
      opacity: 0;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      margin: 0;
      margin-top: inherit;
      cursor: pointer;
      &:checked + .faux-checkbox svg {
        transform: scale(1);
      }
    }
    .faux-checkbox {
      display: block;
      width: 18px;
      height: 18px;
      background-color: $basic-900;
      border-radius: 3px;
      pointer-events: none;
      user-select: none;
    }
    svg {
      transform: scale(0);
      margin: 2px;
    }
    .check-stroke {
      stroke: #fff;
    }
  }
  .checkbox-text {
    flex: 0 1 calc(100% - 30px);
    margin: 0;
    text-align: left;
    line-height: 20px;
    p {
      padding-left: 10px;
      margin: 0;
    }
  }
}


.checkboxWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  span.checkbox {
    width: 24px; height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $basic-300;
    border-radius: 2px;
    margin-right: 8px;

    span.icon {
      display: none;
      width: auto;
      font-weight: 600;
      color: $primary;
    }
  }
  input {display: none;}
  input:checked ~ span.checkbox {
    span.icon {
      display: block;
    }
  }

  span.radio {
    width: 24px; height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $basic-300;
    border-radius: 100%;
    margin-right: 8px;

    span.icon.circle {
      width: 8px; height: 8px;
      display: none;
      background: $primary;
      border-radius: 100%;

    }
  }
  input {display: none;}
  input:checked ~ span.radio {
    span.icon {
      display: block;
    }
  }
}

/*products options*/
.productOptions {
    .width {
      label {
        input[type="radio"] {
          display: none;
        }
        .width {width: auto; height: 42px; cursor: pointer; border: 2px solid $basic-300;}

        input:checked ~ span.width {
          border: 2px solid $secondary;
          box-shadow: 0 0 6px 0 rgba(0, 41, 70, 0.32);
        }
      }
    }
    .color {
      label {
        input[type="radio"] {
          display: none;
        }
        .color {width: 42px; height: 42px; display: block; cursor: pointer;}

        input:checked ~ span.color {
          border: 2px solid $secondary;
          box-shadow: 0 0 6px 0 rgba(0, 41, 70, 0.32);
        }
      }
    }
}
/* <label class="checkbox-holder pt-3">

<div class="checkbox-input">
  <input
    id="checkbox-terms"
    type="checkbox"
    class="checkbox"
    name="terms"
  >

  <!-- Check icon -->
  <div class="faux-checkbox">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
      focusable="false"
    >
      <path
        class="check-stroke"
        fill="none"
        stroke-width="3"
        d="M1.73 12.91l6.37 6.37L22.79 4.59"
      ></path>
    </svg>
  </div>
</div>

<div class="checkbox-text">
  <p>
    Strinjam se s <a href="#">splošnimi pogoji poslovanja</a>
  </p>
</div>

</label> */
