.home {
  &__systems {
    a {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      max-width: 414px;
      width: 100%;
    }
    .w-half {
      @include breakpoint-down (md) {
        width: 100%;
      }
    }
  }
}
