.projects {
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
    gap: 30px;
    @include breakpoint-down (xl) {
      gap: 24px;
    }
    @include breakpoint-down (lg) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  &__img {
    .absolute {
      background: linear-gradient(180deg, rgba(0, 41, 70, 0.00) 0%, $secondary 100%);
      bottom: 0;
    }
  }
  .container-half {
    @include breakpoint-down (xl) {
      h1 {
        padding: 25px 30px 0;
      }
      p {
        padding: 0 30px 25px;
      }
    }
    @include breakpoint-down (md) {
      h1 {
        padding: 40px 24px 0;
        margin-bottom: 16px;
      }
      p {
        padding: 0 24px 40px;
      }
    }
  }
}
