@font-face {
  font-family: "TT-Commons-400";
  src: url("../../fonts/TT-Commons-400.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/TT-Commons-400.woff2") format("woff2"),
    url("../../fonts/TT-Commons-400.woff") format("woff"),
    url("../../fonts/TT-Commons-400.ttf") format("truetype"),
    url("../../fonts/TT-Commons-400.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-500";
  src: url("../../fonts/TT-Commons-500.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/TT-Commons-500.woff2") format("woff2"),
    url("../../fonts/TT-Commons-500.woff") format("woff"),
    url("../../fonts/TT-Commons-500.ttf") format("truetype"),
    url("../../fonts/TT-Commons-500.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-600";
  src: url("../../fonts/TT-Commons-600.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/TT-Commons-600.woff2") format("woff2"),
    url("../../fonts/TT-Commons-600.woff") format("woff"),
    url("../../fonts/TT-Commons-600.ttf") format("truetype"),
    url("../../fonts/TT-Commons-600.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-700";
  src: url("../../fonts/TT-Commons-700.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/TT-Commons-700.woff2") format("woff2"),
    url("../../fonts/TT-Commons-700.woff") format("woff"),
    url("../../fonts/TT-Commons-700.ttf") format("truetype"),
    url("../../fonts/TT-Commons-700.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT-Commons-800";
  src: url("../../fonts/TT-Commons-800.eot"); /* IE9 Compat Modes */
  src: url("../../fonts/TT-Commons-800.woff2") format("woff2"),
    url("../../fonts/TT-Commons-800.woff") format("woff"),
    url("../../fonts/TT-Commons-800.ttf") format("truetype"),
    url("../../fonts/TT-Commons-800.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
