.container-grid {
  --max: calc((var(--container-max-width) - (var(--gap) * 11)) / 12);
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    [outer-start]
    var(--padding-px)
    repeat(5, [content-start] minmax(0, var(--max)) [content-gap] var(--gap))
    [content-start]
    minmax(0, var(--max))
    [content-gap]
    calc(var(--gap) / 2)
    [half]
    calc(var(--gap) / 2)
    repeat(5, [content-start] minmax(0, var(--max)) [content-gap] var(--gap))
    [content-start] minmax(0, var(--max))
    [content-gap content-end]
    var(--padding-px)
    [outer-end]
    minmax(0, 1fr);
  grid-auto-rows: auto;
  width: 100%;
}
.container-grid-inner {
  --max: calc((var(--container-max-width) - (var(--gap) * 11)) / 12);
  display: grid;
  grid-template-columns:
    repeat(5, [content-start] minmax(0, var(--max)) [content-gap] var(--gap))
    [content-start]
    minmax(0, var(--max))
    [content-gap]
    calc(var(--gap) / 2)
    [half]
    calc(var(--gap) / 2)
    repeat(5, [content-start] minmax(0, var(--max)) [content-gap] var(--gap))
    [content-start] minmax(0, var(--max))
    [content-gap content-end];
  grid-auto-rows: auto;
  width: 100%;
}
