@layer utilities {
  /* Underline */
  /* .bg-underline {
    background-image: linear-gradient(theme(colors.transparent), theme(colors.transparent)),
      linear-gradient(theme(colors.current), theme(colors.current));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% calc(100% - 1px), 0 calc(100% - 1px);
    background-repeat: no-repeat;
    transition: background-size 0.4s 0.1s ease-out;

    &.reverse {
      background-position: 0% 100%, 100% 100%;
    }
  } */

  a {
    &:hover {
      > .bg-underline,
      &.bg-underline {
        background-size:
          0 0.1em,
          100% 0.1em;
        transition: background-size 0.5s 0s ease-out;
      }
    }
  }

  .hide-scrollbar {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }
  }

  .visually-hidden {
    @apply invisible absolute left-0 top-0 h-px w-px;
  }

  .flex-full {
    flex: 0 1 100%;
  }
  
}
